/*
  ========================================
  MAIN CONTAINER
  ========================================
*/
.main{
  display: flex;
  margin: 0 auto;
  overflow: hidden;
}

/*
  ========================================
  MENU SECTION
  ========================================
*/
.menu{
  background-color: #EEEEEE;
  flex: 1;
  padding-top: 100px;
  position: relative;
}

.menu a{
  color: #111517;
  display: block;
  padding: 20px;
  text-decoration: none;
}

.menu a:hover{
  background-color: #999999;
}

/*
  ========================================
  BODY SECTION
  ========================================
*/
.body{
  flex: 4;
  padding: 50px;
}