/*
  ========================================
  TABLE
  ========================================
*/
table{
  width: 100%;
}

td, th {
  text-align: left;
  padding: 10px;
}

.table-img img{
  width: 35px;
  padding-right: 5px;
}

td{
  cursor: pointer;
}

.user-list h1, p{
  margin: 0;
}

.user-list p{
  padding-bottom: 50px;
}

.top-modal{
  float: left;
}

hr{
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
}

.vl-right{
  border-right: 1px solid #EEEEEE;
  height: 500px;
}

.vl-right p{
  padding-top: 10px; 
}

.subcategory{
  background: #EEEEEE;
  border-radius: 5px;
  padding: 8px 12px;
  margin-right: 3px; 
}

.mid-data p{
  padding: 15px;
}

.modal-data{
  display: inline-block !important;
  text-align: center;
  width: 10em;
}

.data-title{
  text-align: right;
  width: 10em;
  float: left;
}

.data-data{
  text-align: left;

}

/*
  ========================================
  BUTTONS
  ========================================
*/

.close{
  padding: 20px;
}

.button-left{
  text-align: center;
}


.button{
  background-color: #999999;
  color: #FFFFFF;
  padding: 10px 50px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*
  ========================================
  DATA TITLE
  ========================================
*/

.data-title{
  font-weight: bold;
  text-align: right !important;
  margin-right: 15px;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}
