/*
  ========================================
  TABLE
  ========================================
*/
table{
  width: 100%;
}

td, th {
  text-align: left;
  padding: 10px;
}

.user-list h1, p{
  margin: 0;
}

.user-list p{
  padding-bottom: 50px;
}


.mid-data p{
  padding: 20px;
}

.modal-data{
  display: inline-block !important;
  text-align: center;
  width: 10em;
}

.button{
  background-color: #999999;
  color: #FFFFFF;
  padding: 15px 145px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
}

@media (min-width: 992px) {
  .modal-lg {
    width: 900px;
  }
}

@media (min-width: 768px) {
  .modal-xl {
    width: 90%;
   max-width:1200px;
  }
}
