/*
  ========================================
  TABLE
  ========================================
*/
table{
  width: 100%;
}

td, th {
  text-align: left;
}

.user-list h1, p{
  margin: 0;
}

.user-list p{
  padding-bottom: 50px;
}