<div class="user-list">
  <h1>Item List</h1>
  <p>A list of all your items</p>

  <table>
    <tr>
      <th>Created Date</th>
      <th>Client</th>
      <th>Rating</th>
      <th>Category</th>
      <th>Sub Category</th>
      <th>Date</th>
      <th>Amount</th>
    </tr>

    <tr *ngFor let user of users (click)="openDialog()" >
      <td>May 18, 2018, 1:59:18PM</td>
      <td>{{user.firstname}} {{user.lastname}}</td>
      <td>Rating</td>
      <td>Running</td>
      <td>Sports, Leisure</td>
      <td>20 May, 2018 19:00</td>
      <td>2,200</td>
    </tr>
  </table>
</div>